
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Madimi+One&display=swap');


body{
    font-family:"Madimi One", sans-serif;
    display: flex;
    justify-content: center;
    background-color:  hsl(0, 0%, 8%);
    font-weight: 600;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.imagem-perfil{
border-radius: 50%;
height: 8rem;

}

.informacoes .nome-prestador{

    color: aliceblue;


}
.conteudo {
    padding: 1.6rem;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    border-radius: 8px;

}
.informacoes .localizacao{
    color: hsl(212, 70%, 56%);
    margin: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.conteudo .informacoes .descricao {
    color:white;
    padding: 10px;
  
    text-transform: uppercase;
  
}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }


    .contato  .lista-contato:hover{
    background-color: rgb(64, 138, 221);
    text-transform: uppercase;

  
 }
 a{
    color: white;
    text-decoration: none;
 }
.contato .lista-contato{
    display: flex;
    justify-content:center;
    padding: 10px;
    background-color: hsl(0, 0%, 20%);
    margin: 0.5rem;
    border-radius: 5px;
      font-size: 20px;
}

.attribution { 
    display: flex;
    justify-content:center;
     text-align: center;
    margin-top: 2rem;
    color: white;
  }
  .attribution a { 
    color: hsl(228, 8%, 63%); 
  }
    
