
@media (max-width:1024px) {

    .contato .lista-contato li a {
        padding: 5px;
      }
    
      .conteudo .informacoes {
        padding: 15px;
      }
    
      .conteudo .imagem-perfil img {
        max-width: 10px;
      }
    
      .conteudo .informacoes .nome-prestador {
        font-size: 40px;
      }
    
      .compre-ja .cartao {
        width: 70%;
      }
    }
    
@media (max-width: 768px) {
    .conteudo {
      padding: 10px;
    }
  
    .conteudo{
      padding: 80px 20px;
      width: 100%;
    }
  
    .contato .nome-prestador h1 {
      font-size: 35px;
    }
  
    .conteudo .informacoes .contato {
      flex-direction: column;
    }
  
    .lista-contato {
      margin-top: 10px;
      padding: 10px;
    }
  
    .lista-contato {
      width: 100%;
    }
  }